<div class="notice_div col-12">
  <p id="notice"><%= notice %></p>
</div>

<div class="user_buttons">
  <%= link_to 'Registrar ocorrência', new_occurrence_path %>
</div>
<div class="occurrence_wrapper">
  <p style="width: 100%; display: block">Ocorrências de animais perdidos:</p>
  <div class="lost_box col-12">
    <% @occurrences.each do |occurrence| %>
      <%= link_to occurrence, class: 'occurrence_box' do %>
        <div class="occurrence_img">
          <% if occurrence.images.first.present? %>
            <img style="max-width: 150; max-height: 120px;" src="data:image/png;base64, <%="#{occurrence.images.first.base64}"%>"/>
          <% else %>
            <p>Ocorrência sem imagem :(</p>
          <% end %>
        </div>
        <div class="item occurrence_desc">
          <%= occurrence.description %>
        </div>
        <div class="occurrence_location">
          <%= occurrence.location_string %>
        </div>
        <div class="occurrence_date">
          <%= occurrence.date %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<style type="text/css">
  .user_logout_wrp{
    height: 10%;
    display: flex;
    justify-content: flex-end;
  }
  .user_buttons {
    height: 10%;
  }
  .user_buttons a{
    padding: 5px;
    color: #fff;
    background-color: #17a2b8;
    border: 1px solid #17a2b8;
    border-radius: 3px;
    text-decoration: none;
  }
  .user_buttons a:hover{
    background-color: #28b2c8;
    text-decoration: none;
  }

  .occurrence_wrapper {
  }

  .lost_box {
    overflow-y: auto;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #17a2b8;
    border-radius: 3px;
  }
  .occurrence_box{
    position: relative;
    overflow: hidden;
    text-align: center;
    align-items: center;
    height: 180px;
    width: 175px;
    border: 1px solid #bbb;
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
  }
  .occurrence_box:hover{
    background-color: #eee;
    text-decoration: none;
  }
  .occurrence_img {
    overflow: hidden;
    height: 100px;
    width: 153px;
    border: 1px solid #bbb;
    border-radius: 3px;
    color: #555;
  }
  .occurrence_desc{
    height: 20px;
    width: 100%;
    font-size: 9px;
    color: #555;
    margin:2px 0px;
    text-decoration: none;
  }
  .occurrence_location{
    height: 20px;
    width: 100%;
    font-size: 9px;
    color: #17a2b8;
    margin:2px 0px;
    text-decoration: none;
  }
  .occurrence_date{
    height: 20px;
    width: 100%;
    font-size: 12px;
    color: #555;
    margin:2px 0px;
    text-decoration: none;
  }
</style>
