<!DOCTYPE html>
<html>
<head>
  <title>Sr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'template/header' %>
<div class='main-container col-12' style="height: 83vh; overflow: hidden; position: relative; align-items: center;">
<%= yield %>
</div>
<%= render 'template/footer' %>

</body>
</html>
